.featured-apartment {

  .lead {
    color: $light-blue;
    margin: 0;
  }

  h2 {
    color: $dark-blue;
  }

  .small-apartment {

    .apartment-img {
      position: relative;

      img {

        position: relative;

      }

      .price {
        position: absolute;
        bottom: 3%;
        left: 3%;
        padding: 10px;
        color: white;
        font-size: 20px;
        transition: all 0.8s;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.8s;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }

    }

      .apartment-content {

        h2 {
          font-size: 20px;

          a {
            color: $black !important;
            text-decoration: none;

            &:hover {
              color: $yellow !important;
            }
          }
        }

        p {

          font-size: 13px;

          span {

            &:nth-child(2) {
              margin-left: 10px;
            }

            i {
              color: $black;
              margin-right: 5px;
            }
          }
        }
      }

    }
  }