// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$yellow: #F5BD02;
$dark-blue: #013780;
$light-blue: #6EC1E4;
$grey: #7A7A7A;
$black: #000000;

$primary: $dark-blue;
$secondary: $light-blue;
